<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-bars mui-pull-left mui-plus-visible"></a>
			<a id="info" class="mui-icon mui-icon-info-filled mui-pull-right" style="color: #999;"></a>
			<h1 class="mui-title">app</h1>
	</header>
	
	<footer>
		<nav class="mui-bar mui-bar-tab">
			    <a class="mui-tab-item mui-active">
			        <span class="mui-icon mui-icon-home"></span>
			        <span class="mui-tab-label">首页</span>
			    </a>
			    <a id="phone" class="mui-tab-item">
			        <span class="mui-icon mui-icon-phone"></span>
			        <span class="mui-tab-label">电话</span>
			    </a>
			    <a class="mui-tab-item">
			        <span class="mui-icon mui-icon-email"></span>
			        <span class="mui-tab-label">邮件</span>
			    </a>
			    <a class="mui-tab-item">
			        <span class="mui-icon mui-icon-gear"></span>
			        <span class="mui-tab-label">设置</span>
			    </a>
			</nav>
	</footer>
	


<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider01.png ">
		<div class="mui-media-body ">
			幸福
			<p class="mui-ellipsis ">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider02.png ">
		<div class="mui-media-body ">
			木屋
			<p class="mui-ellipsis ">想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider03.png ">
		<div class="mui-media-body ">
			CBD
			<p class="mui-ellipsis ">烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider01.png ">
		<div class="mui-media-body ">
			幸福
			<p class="mui-ellipsis ">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider02.png ">
		<div class="mui-media-body ">
			木屋
			<p class="mui-ellipsis ">想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider03.png ">
		<div class="mui-media-body ">
			CBD
			<p class="mui-ellipsis ">烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider01.png ">
		<div class="mui-media-body ">
			幸福
			<p class="mui-ellipsis ">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider02.png ">
		<div class="mui-media-body ">
			木屋
			<p class="mui-ellipsis ">想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider03.png ">
		<div class="mui-media-body ">
			CBD
			<p class="mui-ellipsis ">烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
		</div>
	</a>
</li>
<li class="mui-table-view-cell mui-media ">
	<a href="javascript:; ">
		<img class="mui-media-object mui-pull-left " src="img/slider01.png ">
		<div class="mui-media-body ">
			幸福
			<p class="mui-ellipsis ">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
		</div>
	</a>
</li>